In [227]:
#import pandas
import pandas as pd

#store file path
file_path = "Resources/purchase_data.csv"
#read csv file
df = pd.read_csv(file_path, encoding="ISO-8859-1" )
df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [228]:
#find the total Number of Players and save to df
total_players = [{"Total Players":len(df["SN"].unique())}]
total_players_df = pd.DataFrame(total_players)
total_players_df

   Total Players
0            576

In [229]:
#find purchasing analysis (ALL) items and save to df
purchasing_analysis = [{"Number of Unique Items":len(df["Item ID"].unique()),
                        "Average Price":df["Price"].mean(),
                       "Number of Purchases":df["Purchase ID"].count(),
                       "Total Revenue":df["Price"].mean()*(float(df["Purchase ID"].count()))}]

purchasing_analysis_df = pd.DataFrame(purchasing_analysis)

purchasing_analysis_df

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     179       3.050987                  780        2379.77

In [251]:
#find Gender Demographics and save to summary df

#make a new df that holds only unique players
unique = df.drop_duplicates(subset=['SN'])

#number of players/gender saved in a list
my_list1= unique["Gender"].value_counts().tolist()

# % of players of each gender saved in a list
my_list2=unique["Gender"].value_counts(normalize=True).tolist()

#create a new summary df
gender_demographics = pd.DataFrame(
    {"Total Count": [my_list1[0],my_list1[1],my_list1[2]],
     "Percentage of Players":[round(my_list2[0]*100,2),round(my_list2[1]*100,2),round(my_list2[2]*100,2)]},
    ["Male", "Female", "Other/Non-Disclosed"])

#print summary df
gender_demographics

In [251]:
# round(my_list[0]*100,2)
# male = unique.loc[df["Gender"] == "Male",:]
# female = unique.loc[df["Gender"] == "Female",:]
# other = unique.loc[df["Gender"] == "Other / Non-Disclosed",:]
# unique["Gender"].value_counts(normalize=True)
#male.value_counts()
#gender_demographics
#male["Gender"].value_counts(normalize=True)
# gender_demographics = pd.DataFrame(
#     {"Total Count": (len(male["SN"].value_counts()), 
#                      (len(female["SN"].value_counts()),
#                      (len(other["SN"].value_counts()),
#      "Percentage of Players":[(len(male["SN"].value_counts())/len(df["SN"].unique()))*100, 
#                      (len(female["SN"].value_counts())/len(df["SN"].unique()))*100,
#                      (len(other["SN"].value_counts())/len(df["SN"].unique()))*100]}
#                     )

# gender_demographics

In [312]:
# find purchasing analytics (by gender) and save to df
# gender_group = df.groupby("Gender")
# gender_group["Purchase ID"].count()

In [340]:
gender_group = df.groupby("Gender")
p_count = gender_group["Purchase ID"].count()
avg_price = gender_group["Price"].mean()
total_price = gender_group["Price"].sum()
avg_total_purchase = total_price/gender_group.nunique()["SN"]
data ={"Purchase Count": p_count, 
        "Average Purchase Price": avg_price,
      "Total Purchase Value": total_price,
      "Avg Total Purchase per Person":avg_total_purchase} 
gender_analytics = pd.concat(data, 
               axis = 1)
gender_analytics

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,3.203009,361.94,4.468395
Male,652,3.017853,1967.64,4.065372
Other / Non-Disclosed,15,3.346000,50.19,4.562727

In [312]:
# count = gender_group["Purchase ID"].count()
# price = gender_group["Price"].mean()
# total = count*price
# my_list = [count, price, total]
# my_list
# # total_purchase_value = purchase_price * Total_purchase_value
# avg_total = total_purchase
# gender_purchasing_analysis = [{"Purchase Count":gender_df["Purchase ID"].count(),
#                         "Average Purchase Price":gender_df["Price"].mean(),
#                        "Total Purchase Value":gender_df["Price"].sum()}]
# gender_df2 = pd.DataFrame(gender_purchasing_analysis)
# # gender_df2
# gender_analytics = pd.DataFrame(
#     {"Purchase Count":[purchase_count[0],purchase_count[1],purchase_count[2]]
#      #"Average Purchase Price":[gender_group["Price"].mean()]
# # #      "Total Purchase Value": ["Thinis", "Memphis"],
# # #      "Avg Total Purchase per Person": ["Thinis", "Memphis"]
#      }
# )
# gender_analytics

Gender
Female                   113
Male                     652
Other / Non-Disclosed     15
Name: Purchase ID, dtype: int64

In [25]:
#find age demographics and save to df

In [26]:
#find top spenders and save to df

In [27]:
#find most popular items and save to df

In [28]:
#find most profitable items and save to df

In [ ]:
#include a markdown cell with three observations