In [39]:
#import pandas
import pandas as pd

#store file path
file_path = "Resources/purchase_data.csv"
#read csv file
df = pd.read_csv(file_path, encoding="ISO-8859-1" )

In [40]:
#find the total Number of Players and save to df
total_players = [{"Total Players":len(df["SN"].unique())}]

#save to a df
total_players_df = pd.DataFrame(total_players)

#print df
total_players_df

   Total Players
0            576

In [41]:
#find purchasing analysis (ALL) items and save to df
purchasing_analysis = [{"Number of Unique Items":len(df["Item ID"].unique()),
                        "Average Price":df["Price"].mean(),
                       "Number of Purchases":df["Purchase ID"].count(),
                        "Total Revenue":df["Price"].sum()}]

#save to unique df
purchasing_analysis_df = pd.DataFrame(purchasing_analysis)

#format Average Price and Total Revenue
# purchasing_analysis_df["Average Price"] = purchasing_analysis_df["Average Price"].map("${:.2f}".format)
# purchasing_analysis_df["Total Revenue"] = purchasing_analysis_df["Total Revenue"].map("${:.2f}".format)

#print df
purchasing_analysis_df

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     179       3.050987                  780        2379.77

In [42]:
#find Gender Demographics and save to summary df

#make a new df that holds only unique players
unique = df.drop_duplicates(subset=['SN'])

#number of players/gender saved in a list
my_list1= unique["Gender"].value_counts().tolist()

# % of players of each gender saved in a list
my_list2=unique["Gender"].value_counts(normalize=True).tolist()

#create a new summary df
gender_demographics = pd.DataFrame(
    {"Total Count": [my_list1[0],my_list1[1],my_list1[2]],
     "Percentage of Players":[round(my_list2[0]*100,2),round(my_list2[1]*100,2),round(my_list2[2]*100,2)]},
    ["Male", "Female", "Other/Non-Disclosed"])

#print summary df
gender_demographics

                     Total Count  Percentage of Players
Male                         484                  84.03
Female                        81                  14.06
Other/Non-Disclosed           11                   1.91

In [43]:
#group df by Gender
gender_group = df.groupby("Gender")

#solve for purchasing information
p_count = gender_group["Purchase ID"].count()
avg_price = gender_group["Price"].mean()
total_price = gender_group["Price"].sum()
avg_total_purchase = total_price/gender_group.nunique()["SN"]

#put into a df
gender_analytics =pd.DataFrame({"Purchase Count": p_count, 
                                "Average Purchase Price": avg_price,
                                "Total Purchase Value": total_price,
                                "Avg Total Purchase per Person":avg_total_purchase})

#format Average Purchase Price and Avg Total Purchase per Person
# gender_analytics["Average Purchase Price"] = gender_analytics["Average Purchase Price"].map("${:.2f}".format)
# gender_analytics["Total Purchase Value"] = gender_analytics["Total Purchase Value"].map("${:.2f}".format)
# gender_analytics["Avg Total Purchase per Person"] = gender_analytics["Avg Total Purchase per Person"].map("${:.2f}".format)

gender_analytics

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,3.203009,361.94,4.468395
Male,652,3.017853,1967.64,4.065372
Other / Non-Disclosed,15,3.346000,50.19,4.562727

In [44]:
#find age demographics and save to df
#bin the df by age
bins = [0,9.9, 14.9, 19.9, 24.9, 29.9, 34.9,39.9,150]
group_ages = ["<10", "10-14", "15-19", "20-24", "25-29","30-34","35-39","40+"]
df["Age Ranges"] = pd.cut(unique["Age"], bins, labels=group_ages, include_lowest=True)

#solve for demographic information
age_group = df.groupby("Age Ranges")
age_total = age_group.nunique()["SN"]
age_percentage = (age_total/len(df["SN"].unique()))*100

#add to unique df
age_demographics = pd.DataFrame({"Total Count":age_total, "Percentage of Players":age_percentage})

#format Average Purchase Price and Total Purchase Value
# age_demographics["Percentage of Players"] = age_demographics["Percentage of Players"].map("{0:.2f}%".format)

#print df
age_demographics

            Total Count  Percentage of Players
Age Ranges
<10                  17               2.951389
10-14                22               3.819444
15-19               107              18.576389
20-24               258              44.791667
25-29                77              13.368056
30-34                52               9.027778
35-39                31               5.381944
40+                  12               2.083333

In [45]:
# solve for purchasing information
p_count_age = age_group["Purchase ID"].count()
avg_price_age = age_group["Price"].mean()
total_price_age = age_group["Price"].sum()
avg_total_purchase_age = total_price_age/age_total

#put into a df
age_analytics =pd.DataFrame({"Purchase Count": p_count_age, 
                                "Average Purchase Price": avg_price_age,
                                "Total Purchase Value": total_price_age,
                                "Avg Total Purchase per Person":avg_total_purchase_age})

#format Average Purchase Price and Total Purchase Value
# age_analytics["Average Purchase Price"] = age_analytics["Average Purchase Price"].map("${:.2f}".format)
# age_analytics["Total Purchase Value"] = age_analytics["Total Purchase Value"].map("${:.2f}".format)
# age_analytics["Avg Total Purchase per Person"] = age_analytics["Avg Total Purchase per Person"].map("${:.2f}".format)

age_analytics

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Age Ranges,,,,
<10,17,3.390000,57.63,3.390000
10-14,22,3.074545,67.64,3.074545
15-19,107,3.101682,331.88,3.101682
20-24,258,3.063527,790.39,3.063527
25-29,77,2.908182,223.93,2.908182
30-34,52,2.921538,151.92,2.921538
35-39,31,3.510000,108.81,3.510000
40+,12,3.037500,36.45,3.037500

In [46]:
#solve for purchasing information 
player_group = df.groupby("SN")
p_count_player = player_group["Purchase ID"].count()
avg_price_player = player_group["Price"].mean()
total_price_player = player_group["Price"].sum()

#add information to a df
top_players =pd.DataFrame({"Purchase Count": p_count_player, 
                            "Average Purchase Price": avg_price_player,
                            "Total Purchase Value": total_price_player})

#format Average Purchase Price and Total Purchase Value
# top_players["Average Purchase Price"] = top_players["Average Purchase Price"].map("${:.2f}".format)
# top_players["Total Purchase Value"] = top_players["Total Purchase Value"].map("${:.2f}".format)

#sort by Total Purchasing value
top_players = top_players.sort_values("Total Purchase Value", ascending = False)

#identify the top 5 spenders
top_5 = top_players.head(5)
top_5

             Purchase Count  Average Purchase Price  Total Purchase Value
SN
Lisosia93                 5                3.792000                 18.96
Idastidru52               4                3.862500                 15.45
Chamjask73                3                4.610000                 13.83
Iral74                    4                3.405000                 13.62
Iskadarya95               3                4.366667                 13.10

In [47]:
#find most popular items and save to df
#solve for purchasing information 
popular_group = df.groupby(["Item ID","Item Name"])
p_count_popular = popular_group["Purchase ID"].count()
item_price_popular = popular_group["Price"].mean()
total_price_popular = popular_group["Price"].sum()

#add information to a df
popular =pd.DataFrame({"Purchase Count": p_count_popular, 
                       "Item Price": item_price_popular,
                        "Total Purchase Value": total_price_popular})

#format Item Price and Total Purchase Value
# popular["Item Price"] = popular["Item Price"].map("${:.2f}".format)
# popular["Total Purchase Value"] = popular["Total Purchase Value"].map("${:.2f}".format)

#sort by Total Purchase Count
popular = popular.sort_values("Purchase Count", ascending = False)

#identify the top 5 most popular items
top_5_popular = popular.head(5)
top_5_popular

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,4.614615,59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.230000,50.76
145,Fiery Glass Crusader,9,4.580000,41.22
132,Persuasion,9,3.221111,28.99
108,"Extraction, Quickblade Of Trembling Hands",9,3.530000,31.77

In [48]:
#find most profitable items and save to df
#remove the Purchase Count sorting on the popular df
popular.reset_index(drop = True)

#sort by Total Purchase Value to find most profitable items
most_profitable = popular.sort_values("Total Purchase Value", ascending = False)

#display the top 5 items
top_5_profit = most_profitable.head(5)
top_5_profit

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,4.614615,59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.230000,50.76
82,Nirvana,9,4.900000,44.10
145,Fiery Glass Crusader,9,4.580000,41.22
103,Singed Scalpel,8,4.350000,34.80

<b>Three Observations<b>

1. The demographic that plays Heroes of Pymoli the most are men (84% of players) ages 20 - 24 (44.8% of players)

2. The top two most profitable items (FInal Critic and Oathbreaker, Last Hope of the Breaking Storm) are also the two most popular items. However, the third most 
profitable item is Nirvana even though that is not on the list of the top 5 most popular items. This could be a potential flaw in these tables because Nirvana's purchase count is also 9 just like 
Fiery Glass Crusader, Persuasion, and Extraction which is the object the table is filtering by.

3. The top player who has purchased the most items is Lisosia93. However, they have only purchased 5 items within the game. A question for further study would be why this purchase count is so low and 
if there is a high percentage of players who do not purchase anything at all. If yes, why? What about the game is keeping them from making purchases?