In [35]:
#import pandas
import pandas as pd

#store file path
file_path = "Resources/purchase_data.csv"
#read csv file
df = pd.read_csv(file_path, encoding="ISO-8859-1" )
df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [2]:
#find the total Number of Players and save to df
total_players = [{"Total Players":len(df["SN"].unique())}]
#save to a df
total_players_df = pd.DataFrame(total_players)
total_players_df

   Total Players
0            576

In [3]:
#find purchasing analysis (ALL) items and save to df
purchasing_analysis = [{"Number of Unique Items":len(df["Item ID"].unique()),
                        "Average Price":df["Price"].mean(),
                       "Number of Purchases":df["Purchase ID"].count(),
                        "Total Revenue":df["Price"].sum()}]
#save to unique df
purchasing_analysis_df = pd.DataFrame(purchasing_analysis)
purchasing_analysis_df

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     179       3.050987                  780        2379.77

In [4]:
#find Gender Demographics and save to summary df

#make a new df that holds only unique players
unique = df.drop_duplicates(subset=['SN'])

#number of players/gender saved in a list
my_list1= unique["Gender"].value_counts().tolist()

# % of players of each gender saved in a list
my_list2=unique["Gender"].value_counts(normalize=True).tolist()

#create a new summary df
gender_demographics = pd.DataFrame(
    {"Total Count": [my_list1[0],my_list1[1],my_list1[2]],
     "Percentage of Players":[round(my_list2[0]*100,2),round(my_list2[1]*100,2),round(my_list2[2]*100,2)]},
    ["Male", "Female", "Other/Non-Disclosed"])

#print summary df
gender_demographics

                     Total Count  Percentage of Players
Male                         484                  84.03
Female                        81                  14.06
Other/Non-Disclosed           11                   1.91

In [12]:
#group df by Gender
gender_group = df.groupby("Gender")

#solve for purchasing information
p_count = gender_group["Purchase ID"].count()
avg_price = gender_group["Price"].mean()
total_price = gender_group["Price"].sum()
avg_total_purchase = total_price/gender_group.nunique()["SN"]

#put into a df
gender_analytics =pd.DataFrame({"Purchase Count": p_count, 
                                "Average Purchase Price": avg_price,
                                "Total Purchase Value": total_price,
                                "Avg Total Purchase per Person":avg_total_purchase})
gender_analytics

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,3.203009,361.94,4.468395
Male,652,3.017853,1967.64,4.065372
Other / Non-Disclosed,15,3.346000,50.19,4.562727

In [25]:
#find age demographics and save to df
bins =

In [34]:
#solve for purchasing information 
player_group = df.groupby("SN")
p_count_player = player_group["Purchase ID"].count()
avg_price_player = player_group["Price"].mean()
total_price_player = player_group["Price"].sum()

#add information to a df
top_players =pd.DataFrame({"Purchase Count": p_count_player, 
                            "Average Purchase Price": avg_price_player,
                            "Total Purchase Value": total_price_player})

#sort by Total Purchasing value
top_players = top_players.sort_values("Total Purchase Value", ascending = False)

#identify the top 5 spenders
top_5 = top_players.head(5)
top_5

             Purchase Count  Average Purchase Price  Total Purchase Value
SN
Lisosia93                 5                3.792000                 18.96
Idastidru52               4                3.862500                 15.45
Chamjask73                3                4.610000                 13.83
Iral74                    4                3.405000                 13.62
Iskadarya95               3                4.366667                 13.10

In [37]:
#find most popular items and save to df
#solve for purchasing information 
popular_group = df.groupby("Item ID")
p_count_popular = popular_group["Purchase ID"].count()
# avg_price_player = player_group["Price"].mean()
# total_price_player = player_group["Price"].sum()

#add information to a df
# popular =pd.DataFrame({"Purchase Count": p_count_player, 
#                             "Average Purchase Price": avg_price_player,
#                             "Total Purchase Value": total_price_player})

#sort by Total Purchase Count
# popular = popular.sort_values("Purchase Count", ascending = False)

#identify the top 5 most popular items
# top_5_popular = top_players.head(5)
# top_5_popular

Item ID
0       4
1       4
2       6
3       6
4       5
       ..
178    12
179     6
181     5
182     3
183     3
Name: Purchase ID, Length: 179, dtype: int64

In [28]:
#find most profitable items and save to df

In [ ]:
#include a markdown cell with three observations