In [38]:
#import pandas
import pandas as pd

#store file path
file_path = "Resources/purchase_data.csv"
#read csv file
df = pd.read_csv(file_path, encoding="ISO-8859-1" )
df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [44]:
#find the total Number of Players and save to df
total_players = [{"Total Players":len(df["SN"].unique())}]
total_players_df = pd.DataFrame(total_players)
total_players_df

   Total Players
0            576

In [77]:
#find purchasing analysis (ALL) items and save to df
#df.round({"A":1, "B":2, "C":3, "D":4})
purchasing_analysis = [{"Number of Unique Items":len(df["Item ID"].unique()),
                        "Average Price":df["Price"].mean(),
                       "Number of Purchases":df["Purchase ID"].count(),
                       "Total Revenue":df["Price"].mean()*(float(df["Purchase ID"].count()))}]

purchasing_analysis_df = pd.DataFrame(purchasing_analysis)

purchasing_analysis_df

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     179       3.050987                  780        2379.77

In [86]:
#find Gender Demographics and save to df
#df["Gender"].unique().tolist()
#male = df.loc[df["Gender"]=="Male",:]
#female = df.loc[df["Gender"]=="Female",:]
gender_group = df.groupby(["Gender"])
gender_df = gender_group.count()
gender_df

                       Purchase ID   SN  Age  Item ID  Item Name  Price
Gender
Female                         113  113  113      113        113    113
Male                           652  652  652      652        652    652
Other / Non-Disclosed           15   15   15       15         15     15

In [24]:
# find purchasing analytics (by gender) and save to df
purchase_count = gender_group.count()

In [25]:
#find age demographics and save to df

In [26]:
#find top spenders and save to df

In [27]:
#find most popular items and save to df

In [28]:
#find most profitable items and save to df

In [ ]:
#include a markdown cell with three observations